{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block extra_head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <script src="{% static 'js/ajax_setup.js' %}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <script>
        $(document).ready(function() {
            $(".slide-album").bxSlider({
                speed: 200,
                randomStart: true,
                tickerHover: true,
                adaptiveHeight: true,
            });
        });
    </script>
    {% if request.user.is_authenticated %}
        <script>
            $(document).ready(function() {
                $(".picture").click(function() {
                    if (confirm("삭제하시겠습니까?")) {
                        $.post("{% url 'delete_picture' %}", {
                            picture_id: $(this).attr("id"),
                        }).done(function(result) {
                            alert(result.message);
                            if (result.success) {
                                location.reload();
                            }
                        });
                    }
                });
            });
        </script>
    {% endif %}
{% endblock %}
{% block content %}
    <div class="title">
        <h1>{{ category.kor_name }} 사진관</h1>
    </div>
    <div class="slide-album">
        {% for picture in pictures %}
            <img class="picture" id="{{ picture.id }}" src="{% if picture.image %}{{ picture.image.url }}{% else %}{{ picture.link }}{% endif %}">
        {% endfor %}
    </div>
    {% if user.is_authenticated %}
        <form method="post" action="{% url 'add_picture' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="category" value="{{ category.name }}">
            {{ form.as_p }}
            <button type="submit">추가하기</button>
        </form>
    {% endif %}
{% endblock %}
