{% load staticfiles %}
<html>
    <head>
        <title>내 맘대로 블로그</title>
        <meta charset="utf-8">

        <!-- bootstrap -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

        <!-- static files -->
        <link rel="stylesheet" href="{% static 'css/base.css' %}">

        <!-- fonts -->
        <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css' rel='stylesheet' type='text/css'>
        {% block extra_head %}
        {% endblock %}
    </head>
    <body>
        <div class="page-header">
        </div>
        <div class="content container">
            {% block content %}
            {% endblock %}
        </div>
        <div class="page-footer">
            <p>누가 프론트 대신 해줬음 좋겠다</p>
        </div>
    </body>
</html>
