{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/new_novels.css' %}">
{% endblock %}
{% block content %}
    <div class="page-title">
        <h1>조아라 최신작</h1>
    </div>
    <div class="page-content">
        {% for novels_in_cate in novels_in_cate_list %}
            <div>
                <div class="category-name">
                    <h2>{{ novels_in_cate.name }}</h2>
                </div>
                <div class="novels row">
                    {% for novel in novels_in_cate.novel_list %}
                        <div class="novel-info col-md-12">
                            <div class="novel-cover col-md-3">
                                <img src="{{ novel.cover }}">
                            </div>
                            <div class="title-box col-md-9">
                                <div class="novel-title">
                                    <a style="margin-left: 10px;" href="http://www.joara.com/literature/view/book_intro.html?book_code={{ novel.book_code }}">{{ novel.title }}</a> - {{ novel.author }}
                                </div>
                                <div class="button-box">
                                    <button class="btn btn-default">UPDATE</button>
                                    <button class="btn btn-danger">MUTE</button>
                                </div>
                            </div>
                        </div>
                        <div class="novel-info col-md-12">
                            <p>{{ novel.info }}</p>
                        </div>
                    {% endfor %}
                </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
